<!doctype html>
<html>
<body>

    <h1>Browse by Make and Model</h1>
    <table border= '1'>
        {% if data['makes']|length %}
            {% for make in data['makes'] %}
                <tr>
                    <td> {{make}} </td>
                    <td>
                    {% for model in data['models'][loop.index0] %}
                        <a href='{{make}}/{{model}}'> {{model}} </a> <br>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            No cars
        {% endif %}
</body>
</html>