<!doctype html>
<html>
    <body>
        <h1>Car DB Web Application</h1>
        <ul>
            <li> <a href="create"> Create </a> </li>
            <li> <a href="list"> View All </a> </li>
            <li> <a href="browse"> Browse </a> </li>
            <li> <a href="search"> Search </a> </li>
            <li> <a href="import"> Import data from CSV </a> </li>
            <li> <a href="reset"> Reset Database </a> </li>
        </ul>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>