<!doctype html>
    <h1> Cars </h1>
    <table border='1'>
    
          {% if cars|length %}
            {% for car in cars %}
            
                <tr>
                 <td> {{car[0]}} </td>
                 <td> {{car[1]}} </td>
                 <td> {{car[2]}} </td>
                 <td> <a href={{url_for('update', car_id=car[0])}}> view/update </a> </td>
                 <td> <a href={{url_for('delete', car_id=car[0])}}> delete </a> </td>
                
                </tr>
            {% endfor %}
        {% else %}
            No cars
        {% endif %}
    </table>